/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4285f4;
  color: white;
}

button:hover {
  background-color: #357ae8;
}

.user-info {
  margin-top: 20px;
}

.token {
  word-break: break-all;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  max-width: 90%;
  overflow-wrap: break-word;
}

.copy-success {
  margin-top: 10px;
  padding: 10px;
  background-color: #e8f5e9; /* Light green background */
  color: #4caf50; /* Green font color */
  border-radius: 5px;
  display: inline-block;
}